*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
button,
input,
select,
textarea,
optgroup {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #404040;
}

button,
input {
  overflow: visible;
}

li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

h1 {
  font-weight: 400;
  line-height: 28px;
  color: #060606;
  font-family: 'Volkhov', serif;
}

.btn-style {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: #fb811e;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
}

.btn-style:hover {
  background: #009f4d;
  color: #ffffff;
}

.small__title{
  color: #fb811e;
  font-size: 22px;
}

.text__white{
  color: #fff !important;
}

.title__style{
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #060606;
}

.title__bg{
  position: absolute;
  color: #fff;
  font-weight: bold;
  font-size: 12vw;
  z-index: 0;
  opacity: 0.14;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}