/* CAROUSEL */
@media (max-width:1440px) {
    .w3l-banner h3 {
      font-size: 40px;
      line-height: 50px;
    }
  
    .banner-left h2 {
      font-size: 100px;
    }
  }
  
  @media (max-width:1150px) {
    .banner-left {
      left: 5em;
    }
  
    p.banner-text {
      font-size: 17px;
    }
  
    .w3l-banner h3 {
      font-size: 35px;
      line-height: 45px;
    }
  
    .banner-left h2 {
      font-size: 90px;
    }
  }
  
  @media (max-width:991px) {
    .banner-left {
      left: 2em;
    }
  
    .w3l-banner h3 {
      font-size: 32px;
      line-height: 42px;
    }
  
    .banner-left h2 {
      font-size: 80px;
    }
  }
  
  @media (max-width: 768px) {
    .banner-left {
      left: 0em;
      padding: 2em;
    }
  
    .banner-left-content {
      background: var(--bg-color);
      padding: 3em 2em 2em 4em;
      border-radius: 8px;
    }
  }
  
  @media (max-width: 568px) {
    .w3l-banner h3 {
      font-size: 28px;
      line-height: 38px;
    }
  
    .banner-left h2 {
      font-size: 70px;
    }
  
    p.banner-text {
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    .banner-left-content {
      padding: 2.5em 2em 2em 2.5em;
    }
  
    .banner-left h2 {
      font-size: 60px;
    }
  
    .w3l-banner h3 {
      font-size: 25px;
      line-height: 35px;
    }
  
    .banner-left {
      padding: 1em;
    }