/* HEADER */
header.main__header{
}

/* Logo */
.navbar .navbar-brand {
  font-size: 32px;
  color: #fb811e;
  padding: 0;
  position: relative;
  white-space: 1px;
}

.navbar .navbar-brand i {
  position: absolute;
  top: -10px;
  left: 55px;
  font-size: 20px;
}

/* Header search */
.navbar .search-right {
  margin: 0 10px 0 10px;
}

.search-right input[type="search"] {
  background: #fff url(../img/search.png) no-repeat 10px center;
  border: 1px solid #eee;
  padding: 0 10px;
  width: 35px;
  height: 35px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 10em;
  outline: none;
}

#seach__form input[type="search"]:hover {
  background-color: #fff;
}

#seach__form input[type="search"]:focus {
  width: 200px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
  padding-right: 15px;
}

/* #seach__form input:-moz-placeholder {
  color: transparent;
}

#seach__form input::-webkit-input-placeholder {
  color: transparent;
} */

/* Menu dropdown */
ul#menu {
  margin: 0;
  color: #fff;
  z-index: 99;
  font-size: 25px;
}

ul#menu > li {
  float: left;
  list-style: none;
  position: relative;
  width: 100%;
}

ul#menu input {
  display: none;
}

ul#menu label {
  position: relative;
  display: block;
  transition: background 0.5s;
  cursor: pointer;
  text-align: center;
  margin: 0;
}

ul#menu label i {
  line-height: 1em;
}

ul#menu input:checked ~ ul.submenu {
  max-height: 400px;
  transition: max-height 0.5s ease-in;
}

ul.submenu {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #fff;
  position: absolute;
  right: 0;
  min-width: 8em;
  border-radius: 4px;
  box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
}

ul.submenu li a {
  display: block;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #060606;
  transition: all 0.3s;
}

ul.submenu li a:hover {
  color: #fb811e;
}

ul.submenu li.active a {
  color: #fb811e;
}
