/* HEADER */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* Logo */
.navbar .navbar-brand {
  font-size: 32px;
  color: #fb811e;
  padding: 0;
  position: relative;
  transition: all 0.5s;
  white-space: 1px;
}

.navbar .navbar-brand:hover {
  color: #060606;
}

.navbar .navbar-brand i {
  position: absolute;
  top: -10px;
  left: 55px;
  font-size: 20px;
}

/* Header search */
.navbar .search-right {
  margin: 0 10px 0 10px;
}

.search-right input[type="search"] {
  background: #fff url(../img/search.png) no-repeat 10px center;
  border: 1px solid #eee;
  padding: 0 10px;
  width: 35px;
  height: 35px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 10em;
  outline: none;
}

#seach__form input[type="search"]:hover {
  background-color: #fff;
}

#seach__form input[type="search"]:focus {
  width: 200px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
  padding-right: 15px;
}

/* #seach__form input:-moz-placeholder {
  color: transparent;
}

#seach__form input::-webkit-input-placeholder {
  color: transparent;
} */

/* Menu dropdown */
ul#menu {
  margin: 0;
  color: #fff;
  z-index: 99;
  font-size: 25px;
}

ul#menu > li {
  float: left;
  list-style: none;
  position: relative;
  width: 100%;
}

ul#menu input {
  display: none;
}

ul#menu label {
  position: relative;
  display: block;
  transition: background 0.5s;
  cursor: pointer;
  text-align: center;
  margin: 0;
}

ul#menu label i {
  line-height: 1em;
}

ul#menu input:checked ~ ul.submenu {
  max-height: 400px;
  transition: max-height 0.5s ease-in;
}

ul.submenu {
  max-height: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #fff;
  position: absolute;
  right: 0;
  min-width: 8em;
  border-radius: 4px;
  box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
}

ul.submenu li a {
  display: block;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #060606;
  transition: all 0.3s;
}

ul.submenu li a:hover {
  color: #fb811e;
}

ul.submenu li.active a {
  color: #fb811e;
}

/* CAROUSEL LEFT*/
.carousel__left
{
  position: absolute;
  left: 10em;
  z-index: 1;
}

.carousel__content h2{
  color: #f4f4f4;
  font-size: 120px;
  font-weight: bold;
  margin: -.5em;
}


.content h3{
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
}

.carou__text{
  font-size: 20px;
}
/* CAROUSEL LEFT*/

/* CAROUSEL RIGHT*/
.portCarousel {
  overflow: hidden;
}

#portCarouselID .carousel-inner {
  border-bottom-left-radius: 20px;
}

#portCarouselID .carousel-item {
  height: 100vh;
}

#portCarouselID .carousel-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 17%);
  z-index: -1;
  top: 0;
}

#portCarouselID .carousel-item > img {
  height: 100%;
  object-fit: cover;
}

#portCarouselID .carousel-caption {
  bottom: 5%;
  right: 0;
  transform: translate(40%, 0);
}

#portCarouselID .carousel-indicators {
  bottom: 2%;
}

#portCarouselID .carousel-indicators li {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

#portCarouselID .carousel-indicators li.active {
  background-color: #fb811e;
}
/* CAROUSEL RIGHT*/

/* FEATURES LEFT */
h5.small__title{
  color: #fb811e;
  font-size: 22px;
}

.features__title{
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #060606;
}

.text__features{
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}
/* FEATURES LEFT */

/* FEATURES RIGHT */
.features__content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.features__item{
  padding: 40px 30px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 3%);
  background-color: #fff;
}

.features .features__item:hover {
  transition: .3s;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}

.features .features__item img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}

.features .features__item h4 a {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: #060606;
  text-decoration: none;
}

.features .features__item h4 a:hover {
  color: #009f4d;
}
/* FEATURES RIGHT */

/* SERVICE */
.service{
  background-color: #009f4d;
}

.service__title{
  z-index: 1;
}

.service__title .text__service{
  font-size: 1.25rem;
  font-weight: 300;
}

/* SERVICES CARD */
.service .card{
  border: none;
  background: #fff;
  /* padding: 30px 20px; */
  border-radius: 20px;
  display: block;
  overflow: hidden;
}

.service__detail{
}

a.service__link{
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #060606;
  text-decoration: none;
  margin: 15px 0;
  transition: all .5s;
}

a.service__link:hover{
  color: #009f4d;
}

/* FOOTER */
.footer a.logo{
  font-size: 32px;
  color: #fb811e;
  text-decoration: none;
  position: relative;
  padding: 0;
  transition: all .5s;
}

.footer a.logo:hover{
  color: #060606;
}

.footer a.logo i{
  position: absolute;
  top: -3px;
  left: 54px;
  font-size: 20px;
}

.footer p.copy__text a{
  color: #009f4d;
  transition: all .5s;
  text-decoration: none;
} 

.footer p.copy__text a:hover{
  color: #fb811e;
}